<div class="row mb-1 mr-0 custom-border p-2">
  <!--Informations commande-->
  <div class="col-md-5 custom-border-right mt-1 mb-1">
    <form>
      <div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Code commande">
        </div>
        <div class="input-group mb-3">
          <input type="date" class="form-control" placeholder="Date commande">
        </div>
        <div class="input-group">
          <select class="form-control form-select">
            <option>Selectionner un client</option>
            <option>ALAA</option>
            <option>YOUNESS</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <!--Information client/ fournisseur -->
  <div class="col-md-5 custom-border-right mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-user blue-color"></i></div>
        <div class="col-md-11">ALAA ADOUI</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-envelope blue-color"></i></div>
        <div class="col-md-11">alaaadoui@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-square-phone green-color"></i></div>
        <div class="col-md-11">00212 6 56 22 37 06</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-hourglass-half blue-color"></i></div>
        <div class="col-md-11">En préparation</div>
      </div>
    </div>
  </div>
  <!--Image Client / fournisseur-->
  <div class="col-md-2 mt-1 mb-1">
    <img src="assets/utilisateur.png" width="100px" height="100px" alt="image produit">
  </div>
</div>
<!--formulaire pour ajouter les informations de l'article-->
<div class="row mb-1 mr-0 custom-border pt-2 pb-2">
  <div class="row">
    <div class="col-auto">
      <input type="text" class="form-control"  placeholder="Code article">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Quantité">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="Prix UT">
    </div>
    <div class="col-auto">
      <button class="form-control btn btn-success"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div>
