<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Nouvelle commmande</h1>
    </div>
  </div>
  <div class="col m-3">
    <app-detail-nouvelle-commande></app-detail-nouvelle-commande>
    <app-detail-commande></app-detail-commande>
  </div>
 <div class="col m-3">
   <div class="text-end"><h5>Total commandes : 123.69</h5></div>
 </div>
  <div class="col-md-12 text-end">
    <button type="button" class="btn btn-danger mr-3">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>

</div>
