<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mt-1 mb-1">
    <img src="assets/utilisateur.png" width="100px" height="100px" alt="image produit">
  </div>
  <!--Détails Client/Fournisseur-->
  <div class="col-md-5 custom-border-right mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Nom du client</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Prénom du client</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-square-phone green-color"></i></div>
        <div class="col-md-11">00212 6 56 22 37 06</div>
      </div>
    </div>
  </div>
  <!--Détails catégorie -->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-house-chimney blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">Adresse 1</div>
            <div class="col-md-6">Adresse 2</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 blue-color">
        <i class="fa-solid fa-location-pin"></i>
      </div>
      <div class="col-md-10">
          <div class="col-md-12">12345 Ville</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 blue-color">
        <i class="fa-solid fa-earth-europe"></i>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">Pays</div>
      </div>
    </div>

  </div>
  <!--Bouttons d'action-->
  <div class="col-md-3 mt-1 mb-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-pencil"></i>&nbsp;Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link red-color">
          <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-list"></i>&nbsp;Détails</button>
      </div>
    </div>
  </div>

</div>

