<div class="row mb-1 mr-0 custom-border">

  <!--Numéro d'article-->
  <div class="col-md-2 custom-border-right mt-1 mb-1">
    <div class="col text-center">Code de l'article</div>
  </div>
  <!--Description de l'article -->
  <div class="col-md-4 custom-border-right mt-1 mb-1">
    <div class="col text-center">Description de l'article</div>
  </div>
  <!--Quantite -->
  <div class="col-md-2 custom-border-right mt-1 mb-1">
    <div class="col text-center">6</div>
  </div>
  <!--Description de l'article -->
  <div class="col-md-2 custom-border-right mt-1 mb-1">
    <div class="col text-center">12.3</div>
  </div>
  <!--Description de l'article -->
  <div class="col-md-2 custom-border-right mt-1 mb-1">
    <div class="col text-center">73.8</div>
  </div>
</div>
